:root {
  --bg: #fff;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
  }
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

#app {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}
